#margin {
margin:0 auto;
text-align:left;
width:980px;
}
#main {
margin:0 auto;
overflow:hidden;
width:1000px;
}
#menu {
background:url("../img/menu.png") repeat-x scroll 0 -150px transparent;
height:50px;
left:-1px;
margin-right:-2px;
margin-top:10px;
position:relative;
width:982px;
}
#menu table {
width:100%;
}
#menu td {
background:url("../img/menu.png") no-repeat scroll left -150px transparent;
font-size:12px;
height:50px;
text-align:center;
}
#menu .first {
background:url("../img/menu.png") no-repeat scroll left -50px transparent;
}
#menu .last {
background:url("../img/menu.png") no-repeat scroll right -50px transparent;
}
#menu a, #menu div {
background:url("../img/menu.png") no-repeat scroll left -100px #00644E;
color:#FFFFFF;
display:block;
font-weight:bold;
height:40px;
line-height:40px;
outline:medium none;
position:relative;
}
#menu .first a, #menu .first div {
background:url("../img/menu.png") no-repeat scroll left 0 #00644E;
}
#menu .last a, #menu .last div {
background:url("../img/menu.png") no-repeat scroll right 0 #00644E;
}
#menu a:hover {
background:none repeat scroll 0 0 transparent;
text-decoration:none;
}
#menu .current a, #menu .current div {
background:none repeat scroll 0 0 transparent;
}
#menu b {
background:url("../img/menu.png") no-repeat scroll left -200px transparent;
cursor:pointer;
display:block;
height:40px;
overflow:hidden;
padding:0 10px;
}
#menu .current b {
cursor:default;
}
#menu .first b {
background:none repeat scroll 0 0 transparent;
}
#menu table, #menu td, #menu th {
font:100% arial;
border-collapse:collapse;
margin:0;
padding:0;
text-align:left;
vertical-align:top;
}

#menu ul, #menu li, .menu ul, .menu li {
list-style:none outside none;
margin:0;
padding:0;
}
#menu td {
font-size:12px;
text-align:center;
}
/*#menu a {
color:#333333;
text-decoration:none;
}*/
